<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drawing DOM objets into a canvas</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <canvas id="canvas" width="200" height="200">

    </canvas>

    <!-- RANDOM TEST PAINTING - WORKS WITH SCRIPT.JS TO DRAW DOM ELEMENTS ON CANVAS -->

    <div id="svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">
        <foreignObject width="100%" height="100%" style="background-color:white;">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display:block;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:yellow;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:yellow;border-radius:50%;display:inline-block;margin:5px;">
            </div>
          </div>
          <div xmlns="http://www.w3.org/1999/xhtml" style="display:block;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
          </div>
          <div xmlns="http://www.w3.org/1999/xhtml" style="display:block;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:yellow;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:yellow;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
          </div>
          <div xmlns="http://www.w3.org/1999/xhtml" style="display:block;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:yellow;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:yellow;border-radius:50%;display:inline-block;margin:5px;">
            </div>
          </div>
          <div xmlns="http://www.w3.org/1999/xhtml" style="display:block;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:yellow;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:blue;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" style="width:25px;height:25px;background-color:cyan;border-radius:50%;display:inline-block;margin:5px;">
            </div>
          </div>
        </foreignObject>
      </svg>
    </div>

    <!-- ANGULAR APP TEST 1 -->

    <div id="svg1">
      <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">
        <foreignObject width="100%" height="100%" style="background-color:white;">
          <!-- ngRepeat: colorArray in painting track by $index -->
          <div xmlns="http://www.w3.org/1999/xhtml" style="text-align: center; display: block;" ng-repeat="colorArray in painting track by $index" class="ng-scope">
            <!-- ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: blue ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: cyan ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: yellow ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
          </div>
          <!-- end ngRepeat: colorArray in painting track by $index -->
          <div xmlns="http://www.w3.org/1999/xhtml" style="text-align: center; display: block;" ng-repeat="colorArray in painting track by $index" class="ng-scope">
            <!-- ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: blue ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: cyan ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: yellow ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
          </div>
          <!-- end ngRepeat: colorArray in painting track by $index -->
          <div xmlns="http://www.w3.org/1999/xhtml" style="text-align: center; display: block;" ng-repeat="colorArray in painting track by $index" class="ng-scope">
            <!-- ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: blue ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: cyan ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div xmlns="http://www.w3.org/1999/xhtml" ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: yellow ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
          </div>
          <!-- end ngRepeat: colorArray in painting track by $index -->
        </foreignObject>
      </svg>
    </div>

    <!-- ANGULAR APP TEST 2 -->
    
    <div id="svg2">
      <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">
        <foreignObject width="100%" height="100%" style="background-color:white;">
          <!-- ngRepeat: colorArray in painting track by $index -->
          <div style="text-align: center; display: block;" ng-repeat="colorArray in painting track by $index" class="ng-scope">
            <!-- ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: blue ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: cyan ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: yellow ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
          </div>
          <!-- end ngRepeat: colorArray in painting track by $index -->
          <div style="text-align: center; display: block;" ng-repeat="colorArray in painting track by $index" class="ng-scope">
            <!-- ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: blue ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: cyan ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: yellow ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
          </div>
          <!-- end ngRepeat: colorArray in painting track by $index -->
          <div style="text-align: center; display: block;" ng-repeat="colorArray in painting track by $index" class="ng-scope">
            <!-- ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: blue ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: cyan ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
            <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: yellow ;" class="ng-scope">&nbsp;</div>
            <!-- end ngRepeat: color in colorArray track by $index -->
          </div>
          <!-- end ngRepeat: colorArray in painting track by $index -->
        </foreignObject>
      </svg>
    </div>

    <script src="script.js"></script>

  </body>
</html>